body {
	padding: 4% 10%;
	text-align: justify;
}

.units {
	display: flex;
	width: 100%;
}

h1 {
	width: 15%;
	text-align: center;
	font-size: 3em;
	border: 3px solid #000000;
}

.unittitle {
	width: 40% !important;
	text-align: center;
	font-size: 3em;
	border: 3px solid #000000;
}

#firsth {
	background: yellow;
}

#secondh {
	background: lightgreen;
}

#thirdh {
	background: lightblue;
}

#fourthh {
	background: lightpink;
}

h2 {
	text-decoration: underline;
}

#firstUnit, #secondUnit, #thirdUnit, #fourthUnit {
	display: none;
}
