body {
	padding: 4% 10%;
	text-align: justify;
}

h1 {
	width: 100%;
	text-align: center;
	font-size: 5em;
	border: 3px solid #000000;
	border-radius: 10px;
}

#firstH {
	background: yellow;
}

h2 {
	text-decoration: underline;
}
